#===============================================================================
# VMware vSphere configuration
#===============================================================================

# vSphere username used to deploy the infrastructure
vsphere_user = "administrator@vsphere.local"
vsphere_password = "Password1,"

# vCenter IP or FQDN #
vsphere_server = "192.168.1.12"
vsphere_dc_name = "Datacenter"
vsphere_network_int = "internal"
vsphere_network_ext = "external"
vsphere_folder = "virtualmachines"
vsphere_template_server = "windows-server-2022"
vsphere_template_client = "windows-client-21H2"
vsphere_template_ubuntu = "linux-ubuntu-server-20-04-lts"
vsphere_template_folder = "templates"
vsphere_datastore_nvme = "nvme-datastore"
vsphere_datastore_ssd = "ssd-datastore"
vsphere_timezone = 110

#show for ohter timezones here
#https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)?redirectedfrom=MSDN

# Which Windows administrator password to set during vm customization
winadmin_password = "Password1"

# PDC settings
pdc_name = "NYC-ADS-001"
pdc_IP = "192.168.10.11"
pdc_mem = 8192
pdc_cpu_num = 4

# Fileserver settings
fsr_name = "NYC-FSR-001"
fsr_IP = "192.168.10.17"
fsr_mem = 8192
fsr_cpu_num = 4
fsr_disk_size = 100

# DDC settings
ddc-01_name = "NYC-VDC-001"
ddc-02_name = "NYC-VDC-002"
ddc-01_IP = "192.168.10.46"
ddc-02_IP = "192.168.10.47"
ddc_mem = 8192
ddc_cpu_num = 4

# Storefront settings
stf-01_name = "NYC-STF-001"
stf-02_name = "NYC-STF-002"
stf-01_IP = "192.168.10.31"
stf-02_IP = "192.168.10.32"
stf_mem = 8192
stf_cpu_num = 4

# SQL settings
sql_name = "NYC-SQL-001"
sql_IP = "192.168.10.21"
sql_mem = 8192
sql_cpu_num = 4

# Server VDA settings
svda_name = "NYC-SRV-001"
svda_mem = 8192
svda_cpu_num = 4

# Jumphost settings
jh_name = "NYC-JH-001"
jh_IP = "192.168.10.57"
jh_mem = 8192
jh_cpu_num = 2

# WRK settings
wrk_name = "NYC-WRK-001"
wrk_IP = "192.168.10.56"
wrk_mem = 8192
wrk_cpu_num = 2


#Use linked clones.(Requires a single snapshot on the VM)
#vsphere_linkedclones = true


# global network settings
netmask = 24
gateway = "192.168.10.254"
dns_server = "192.168.10.11"